.photo-grid{
    display:grid;
    padding:12px 48px;
    box-sizing:border-box;
    max-width: 100%;
    grid-template-columns:repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    margin:0;
    overflow: hidden;
  }
@media screen and (max-width : 1024px) {
    .photo-grid{
        gap: 14px;
        padding:21px 48px;
    }
}
@media screen and (max-width : 768px) {
    .photo-grid{
        padding:16px 24px;
        gap: 16px;
    }
}
@media screen and (max-width : 320px) {
    .photo-grid{
       display: flex;
       flex-direction: column;
       padding: 0 16px;
       box-sizing: border-box;
       gap: 12px;
    }
}