.header{
    display:flex;
    justify-content:space-between;
    align-items:end;
    padding-left:48px;
    padding-right:48px;
    padding-top:25px;
    box-sizing:border-box;
  }
@media screen and (max-width : 1024px){
  .header{

  }
}
@media screen and (max-width : 768px) {
  .header{
    padding-left:24px;
    padding-right:24px;
  }
}
@media screen and (max-width : 320px) {
  .header{
    padding-left:16px;
    padding-right:16px;
    padding-top: 16px;
  }
}
<br/>${store.businessRegistrationID.name}: ${store.businessRegistrationID.value}