.intro{
    margin:0;
    margin-left: 148px;
    padding-left:0;
    padding-bottom:65px;
    max-width: 54%;
    box-sizing:border-box;
    padding-top:87px;
    align-self: flex-start;
  }
@media screen and (max-width: 1024px) {
    .intro{
        margin-left: 48px;
        padding-bottom:51px;
        max-width: 67%;
    }
}
@media screen and (max-width: 768px) {
    .intro{
        padding-left:0;
        padding-right: 0;
        padding-top: 88px;
        padding-bottom: 55px;
        max-width: 94%;
        margin:0 24px;
    }
}
@media screen and (max-width: 320px) {
    .intro{
        padding-bottom:48px;
        padding-top:64px;
        max-width: 90%;
        margin-left: 16px;
        margin-right: 16px;
    }
}