.lead__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top:32px;
    margin-bottom: 64px;
    padding: 0 191px;
  }
@media screen and (max-width : 1024px) {
    .lead__subtitle{
     padding: 0 144px;
     margin-bottom: 56px;
     margin-top: 31px;
    }
}
@media screen and (max-width : 768px) {
    .lead__subtitle{
        padding: 0 64px;
    }
}
@media screen and (max-width : 320px) {
    .lead__subtitle{
        margin-bottom:38px;
        font-size: 16px;
        line-height: 20px;
        padding: 0px;
        margin-top: 0px;
    }
}