.cover{
    padding:92px 48px;
    box-sizing:border-box;
    min-height: 740px;
   }
@media screen and (max-width : 320px) {
    .cover{
        padding: 52px 0px;
        padding-bottom: 64px;
        min-height: 181px;
    }  
}