.place{
    max-width:100%;
    display: grid;
    grid-template-columns: fit-content(460px) fit-content(484px);
    grid-template-rows: fit-content(152px) 1fr;
    grid-gap: 48px 40px;
    padding-top:80px;
    box-sizing:border-box;
    overflow: hidden;
  }
@media screen and (max-width: 1024px) {
    .place{
        grid-gap: 46px 32px;
        grid-template-columns: fit-content(440px) fit-content(456px);
        padding-top: 81px;
    }
   }
@media screen and (max-width: 768px) {
    .place{
        grid-gap: 46px 28px;
        padding-top: 69px;
        grid-template-columns: fit-content(340px) fit-content(352px);
    }
  }
@media screen and (max-width: 550px) {
    .place{
        display: block;
        padding-top: 61px;
    }
  }
@media screen and (max-width: 320px) {
    .place{
        display: block;
        padding-top: 63px;
    }
   }