.place{
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 40px)/2));
    grid-template-rows: minmax(76px 152px) 3fr;
    gap: 48px 40px;
    padding-top:80px;
    box-sizing:border-box;
    }
@media screen and (max-width: 1024px) {
    .place{
        gap: 46px 32px;
        grid-template-columns: repeat(2, calc((100% - 32px)/2));
        padding-top: 81px;
    }
   }
@media screen and (max-width: 768px) {
    .place{
        gap: 46px 28px;
        padding-top: 61px;
        grid-template-columns: repeat(2, calc((100% - 28px)/2));
    }
  }
@media screen and (max-width: 550px) {
    .place{
        display: block;
        padding-top: 61px;
    }
  }
@media screen and (max-width: 320px) {
    .place{
        display: block;
        padding-top: 45px;
    }
   }