

*{border: 1px solid red;
    box-sizing:border-box;}
.html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.cover__background{
    background-image:url('../images/cover__background.jpg');
    max-width: 100%;
  }
  .cover__overlay{
    min-height: 740px;
    min-width: 320px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(42, 44, 47, 0.3);
  }
.cover__background{
   
   color: #FFFFFF;
   display: block;
 height: 100%;
 width: 100%;
 background-color:rgb(42, 44, 47, 0.8);
   opacity: 1;
  }
  .cover__background:hover{
      opacity: 0.8;
  }
  */
/*
@media screen and (max-width : 320px) {
    .photo-grid{
    padding:12px 16px;
    gap: 12px;
    box-sizing: border-box;
    }
}
*/

/*
   @media screen and (max-width : 320px) {
    .place{
        grid-gap: 48px 40px;
       gap: 12px;
        padding-top:50px; 
    }
   }
*/